<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo de Pago</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Recibo de Pago - Colegio Patria</h1>
    </header>
