<%- include('header') %>
<%- include('nav') %>

<main>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #666;
            padding: 10px;
            text-align: center;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        main {
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
            margin-bottom: 20px;
            border-bottom: 2px solid #ccc;
            padding-bottom: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
            color: #333;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f2f2f2;
        }
    </style>

    <h2>Resultados</h2>
    <table>
        <tr>
            <th>Núm. Docente</th>
            <th>Nombre</th>
            <th>Domicilio</th>
            <th>Nivel</th>
            <th>Pago Total</th>
            <th>Impuesto</th>
            <th>Bono</th>
        </tr>
        <% resultados.forEach((maestro) => { %>
            <tr>
                <td><%= maestro.numDocente %></td>
                <td><%= maestro.nombre %></td>
                <td><%= maestro.domicilio %></td>
                <td><%= maestro.nivel %></td>
                <td>$<%= maestro.pagoTotal.toFixed(2) %></td>
                <td>$<%= maestro.impuesto.toFixed(2) %></td>
                <td>$<%= maestro.bono.toFixed(2) %></td>
            </tr>
        <% }) %>
    </table>
</main>

<%- include('footer') %>
